:root{
    --aciton-color: #3e8ed0;
}

hr{
    background-color: var(--outline-color) !important;
}

.items-div {
    display: flex;
    justify-content: space-between;
    position: relative;
    transition: .1s ease;
    margin-bottom: 1px;
}

.items-div::before{
    content: "";
    background-color: var(--aciton-color);
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 1px;
    width: 0;
    transition: 0.7s ease-in-out;
}

.items-div:hover.items-div::before{
    left: 0;
    width: 100%;
    transition: 0.7s ease-in-out;
}

.items-div p {
    width: 200px;
    text-align: start;
}

.items-div p:nth-of-type(2){
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.items-div p:nth-child(2n - 1) {
    width: 50px;
    text-align: center;
}

.items-div div {
    display: flex;
    gap: 5px;
}

.items-div div button {
    all: unset;
    cursor: pointer;
    transition: .2s ease;
    color: var(--primary-text-color);
}

.items-div div button:hover {
    transform: translateY(-1px);
}

.items-container {
    width: 580px !important;
    padding: 0 15px !important;
    max-height: 300px !important;
    overflow-y: scroll !important;
}

.items-container::-webkit-scrollbar{
    background-color: #30303070 !important;
    width: 10px;
    border-radius: 15px;
    transform: translateX(5px);
}

.items-container::-webkit-scrollbar-thumb{
    background-color: #303030;
    border-radius: 15px;
}

.items-container::-webkit-scrollbar-thumb:active{
    background-color: #252525;
}

.error-label{
    background-color: #FFD2AF;
    padding: 10px 15px;
    display: flex;
    justify-content: flex-start;
    gap: 7px;
    color: #3c3c3cef !important;
    border-radius: 3px;
    font-weight: 500;
}

.error-label i{
    color: #3c3c3cef !important;
    font-weight: 500;
}

.bi-trash3:hover{
    --aciton-color: red !important;
}
