.dashboards-title {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    padding: 0 10px;
    font-size: 26pt;
    font-weight: 600;
    color: #3e8ed0;
    margin-bottom: 50px;
}

.dashboards-title i {
    font-size: 24pt;
}

.section-title {
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 10px;
    padding: 0 3.5%;
    font-size: 16pt;
    font-weight: 600;
}

.section-sub-title {
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 10px;
    padding: 0 3.5%;
    color: var(--primary-dashboard-color);
}

.primary-data {
    width: 100%;
    height: 180px;
    padding: 1% 3%;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-around;
    gap: 25px;
}

.primary-data>div {
    position: relative;
    height: 100%;
    width: 33.333%;
    border-radius: 7px;
    background-color: var(--primary-dashboar-background-color); /* --->bug */
    box-shadow: var(--dashboard-div-shadow);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.primary-data>div i {
    display: grid;
    place-items: center;
    background-color: var(--secondary-dashboar-background-color);
    color: var(--primary-dashboard-color);
    font-size: 23pt;
    height: 32%;
    aspect-ratio: 1;
    border-radius: 50%;
    margin: 80px 25px;
    transform: translateY(-50%);
    transition: 0.3s ease;
}

.divContainer.side-bar .primary-data>div i {
    margin: 80px 5px;
}

.divContainer.side-bar .primary-data .primary-data-info.small-font-size {
    gap: 22px;
}

.divContainer.side-bar .primary-data .primary-data-info.small-font-size h1 {
    font-size: 22pt;
}

.primary-data .primary-data-info {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    gap: 15px;
    padding: 0 10px 10px 0;
    width: 65%;
}

.primary-data>div h1 {
    position: relative;
    font-size: 26pt;
    font-weight: 600;
    color: var(--primary-dashboard-color);
    cursor: pointer;
    transition: 0.2s ease
}

.primary-data>div h1::before{
    content:"Clique para esconder";
    position: absolute;
    top: -30%;
    right: 0; 
    width: 0;
    white-space: nowrap;
    font-size: 8pt;
    transition: 0.2s ease;
    overflow: hidden;
}

.primary-data>div h1:hover::before{
    content:"Clique para esconder";
    width: 120px;
    white-space: nowrap;
    font-size: 8pt;
    transition: 0.2s ease
}

.primary-data>div p {
    color: var(--dashboard-subtitle-color);
    white-space: nowrap;
}

.charts {
    height: 450px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    padding: 0 3%;
}

.charts>div {
    position: relative;
    border-radius: 7px;
    background-color: var(--primary-dashboar-background-color) !important;
    box-shadow: var(--dashboard-div-shadow);
}

.div1 {
    grid-area: 1 / 1 / 4 / 5;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 20px;
}

.div1 h1 {
    width: 100%;
    text-align: start;
    font-weight: 600;
    color: var(--primary-dashboard-color);
}

.div2 {
    grid-area: 4 / 1 / 7 / 5;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 20px;
}

.div2 h1 {
    width: 100%;
    text-align: start;
    font-weight: 600;
    color: var(--primary-text-color);
}

.div3 {
    grid-area: 1 / 5 / 7 / 7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 15px;
}

.charts>div p {
    color: var(--dashboard-subtitle-color);
    width: 100%;
    text-align: end;
}

#pie-chart-legend {
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    min-height: fit-content;
    padding: 1px 0;
}

#pie-chart-legend>span {
    width: 15px;
    height: 10px;
}


/* ====> hidden dashboard info <==== */
.primary-data.hidden-info>div::after,
.charts.hidden-info > div::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* From https://css.glass */
    border-radius: 7px;
    background: #f2f2f201;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.6px);
    -webkit-backdrop-filter: blur(13.6px);
}


.info.hidden-info::after{
    content: "";
    position: absolute;
    top: 0;
    left: -15%;
    width: 120%;
    height: 100%;
    /* From https://css.glass */
    background: var(--dashboard-blur-color);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
}

@media (min-width: 1399px) {

    .charts,
    .primary-data {
        padding: 1% 5%;
    }

    .primary-data .primary-data-info {
        width: 70%;
        padding: 0 25px 10px 0;
    }

    .divContainer.side-bar .primary-data>div i {
        margin: 80px 25px;
    }

    .charts {
        height: 550px;
    }

    .section-title,
    .section-sub-title {
        padding: 0 5.5%;
    }

    .pie-chart {
        width: 312px !important;
        height: 312px !important;
        margin-left: 30px;
        transition: 0.5s ease;
    }

    .divContainer.side-bar .pie-chart {
        margin-left: 0;
    }
}