:root{
    --primary-text-color: #000;
    --outline-color: #4e4e4eaa;
    --div-color: #FFF;
}

.dark-theme-modal{
    --outline-color: #f2f2f2;
    --div-color: #3c3c3c;
    --primary-text-color: #f2f2f2;
}

.report-list-title{
  font-size: 16pt;
}
  
  .report-problem-input-div{
    display: inline-flex;
    flex-direction: column;
    max-width: 105px;
    margin-right: 25px;
    position: relative;
    margin-bottom: 0;
  }
  
  .report-problem-input{
    background-color: var(--div-color);
    border: none;
    outline: 1px solid var(--outline-color);
    color: var(--primary-text-color);
    height: 40px;
    width:600px;
    border-radius: 3px;
    padding: 0 5px;
    font-size: 12pt;
    transition: 0.2s ease-out !important;
    text-align: left;
  }

  .report-problem-button{
    color: #4a4a4a !important;
  }

  .report-problem-input.large{
    height: 300px;
    padding: 5px;
  }

  .report-problem-input:disabled{
    outline: 1px solid #c2c2c299;
    color: #c2c2c299;
  }

  .report-problem-input:disabled ~ .report-problem-label{
    color: #c2c2c299 !important;
  }

  .report-problem-input.input-large{
    width: 250px;
    text-align: left;
  }

  .report-problem-input.input-text{
    text-align: left;
  }
  
  .report-problem-label{
    max-width: fit-content;
    padding: 0 7px;
    background-color: var(--div-color);
    color: #3e8ed0;
    cursor: text;
    transition: 0.2s ease-out;
    font-size: 14pt;
    font-weight: 400;
    width: 7vw;
  }
  
  .report-problem-input:focus, .report-problem-input:valid{
    outline: 2px solid #3e8ed0;
  }
  
  .report-problem-input:empty ~ .report-problem-label{
    transform: translate(0%, -115%);
    color: var(--outline-color);
  }
  
  .report-problem-input:focus ~ .report-problem-label,
  .report-problem-input:valid ~ .report-problem-label,
  .report-problem-input:disabled ~ .report-problem-label{
    transform: translate(-2%, -200%) scale(0.8);
    color: #3e8ed0 !important;
  }
  
  .report-problem-input.invalid-input:focus, .report-problem-input.invalid-input:valid{
    outline: 2px solid rgb(255, 68, 68);
  }
  
  .report-problem-input.invalid-input:focus ~ .report-problem-label,
  .report-problem-input.invalid-input:valid ~ .report-problem-label{
    transform: translate(-2%, -200%) scale(0.8);
    color: rgb(255, 68, 68)!important;
  }


  .report-list-helper,
  .report-list-div{
    width: 100%;
    display: grid;
    grid-template-columns: 100px 400px 100px;
    position: relative;
  }

  .report-list-div{
    margin-top: -10px;
  }

  .report-list-div > p,
  .report-list-helper > p{
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .report-list-div  i{
    position: absolute;
    right: -7px;
    font-size: 14pt;
    display: none;
    cursor: pointer;
    transition: 0.2s ease;
  }

  .report-list-div:hover > i{
    display: inline;
  }

  .report-list-div i:hover{
    color: #3e8ed0 !important;
    transition: 0.2s ease;
  }

  .messagens-container{
    max-height: 200px;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
  }

  .messagens-container::-webkit-scrollbar{
    width: 3px;
  }

  .report-details .report-problem-input-div{
    display: grid;
    gap: 70px;
    grid-template-columns: 470px 60px;
    margin-top: 20px;
    width: 550px;
  }

  .report-details .report-problem-input-div button{
    margin: 1px solid #3e8ed0;
    outline: 1px solid #3e8ed0;
    height: 42px;
    transform: translateY(-1px);
  }

  .report-details .report-problem-input-div input{
    width: 530px ;
  }

  .mensagem-div{
    display: grid;
    grid-template-columns: 470px 100px;
    justify-content: center;
  }

  .mensagem-div p{
    white-space: nowrap;
  }

  .mensagem-div span{
    font-size: 10pt;
    white-space: nowrap;
  }

  .mensagem-div hr{
    width: 100%;
    height: 1px;
    text-align: center;
  }

