.btns{
    width: 100%;
    padding: -20px;
    margin: -2.1%;
    transform: translateX(-2.12%);
    white-space: nowrap;
    background: rgb(62,142,208);
    background: linear-gradient(180deg, rgba(62,142,208,1) 63%, rgba(255,255,255,1) 100%);
    border-radius: 10px 10px 0 0 ;
}

.btnselect{
    width: 20.913%;
    padding: 12px 24px !important;
    white-space: nowrap;
    background-color: #3e8ed0;
    margin-right: -1px;
    border: none;
    font: 600 12pt white;
    color: white;
    font-family: 'DM Sans', sans-serif;
    cursor: pointer;
}

.btnselect.active{
    background-color: #FFF;
    color: #3e8ed0;
    border: none;
    border-radius: 10px 10px 0 0 ; 
}

.rounded-right{
    border-radius: 0 0 0 5px;
}

.rounded-left{
    border-radius: 0 0 5px 0;
}

@media only screen and (max-width: 1400px) {
    .btns{
        margin: -2%;
        transform: translateX(-2.05%);
    }
    .btnselect{
        width: 20.91%;
    }
  }