.sales-title {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    padding: 0 10px;
    font-size: 26pt;
    font-weight: 600;
    color: #3e8ed0;
    margin-bottom: 50px;
}

.sales-title i {
    font-size: 24pt;
}

.section-title {
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 10px;
    padding: 0 3.5%;
    font-size: 16pt;
    font-weight: 600;
}

.section-sub-title {
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 10px;
    padding: 0 3.5%;
}

.primary-sales-data {
    width: 100%;
    height: 180px;
    padding: 1% 3%;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-around;
    gap: 25px;
}

.primary-sales-data>div {
    position: relative;
    height: 100%;
    width: 33.333%;
    border-radius: 7px;
    background-color: var(--primary-dashboar-background-color);
    box-shadow: var(--dashboard-div-shadow);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: 0.3s ease;
}

.primary-sales-data>div i {
    display: grid;
    place-items: center;
    background-color: var(--secondary-dashboar-background-color);
    color: var(--primary-dashboard-color);
    font-size: 23pt;
    height: 32%;
    aspect-ratio: 1;
    border-radius: 50%;
    margin: 80px 25px;
    transform: translateY(-50%);
    transition: 0.3s ease;
}

.divContainer.side-bar .primary-sales-data>div i {
    margin: 80px 5px;
}

.divContainer.side-bar .primary-sales-data .primary-data-info.small-font-size {
    gap: 22px;
}

.divContainer.side-bar .primary-sales-data .primary-data-info.small-font-size h1 {
    font-size: 22pt;
}

.primary-sales-data .primary-data-info {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    gap: 15px;
    padding: 0 10px 10px 0;
    width: 65%;
}

.primary-sales-data>div h1 {
    position: relative;
    font-size: 26pt;
    font-weight: 600;
    color: var(--primary-dashboard-color);
    cursor: pointer;
    transition: 0.2s ease
}

.primary-sales-data>div h1::before{
    content:"Clique para esconder";
    position: absolute;
    top: -30%;
    right: 0; 
    width: 0;
    white-space: nowrap;
    font-size: 8pt;
    transition: 0.2s ease;
    overflow: hidden;
}

.primary-sales-data>div h1:hover::before{
    content:"Clique para esconder";
    width: 120px;
    white-space: nowrap;
    font-size: 8pt;
    transition: 0.2s ease
}

.primary-sales-data>div p {
    color: var(--dashboard-subtitle-color);
    white-space: nowrap;
}


.sales {
    height: 450px;
    width: 100%;
    display: flex;
    gap: 25px;
    padding: 0 3%;
    transition: 0.3s ease;
}

.sales>div {
    border-radius: 7px;
    background-color: var(--primary-dashboar-background-color);
    box-shadow: var(--dashboard-div-shadow);
    transition: 0.3s ease;
}

.open-sales {
    width: 66.666%;
    padding: 15px;
    overflow-y: scroll;
}

.open-sales::-webkit-scrollbar {
    width: 5px;
}

.open-sales:has(.no-open-sales)::-webkit-scrollbar {
    width: 5px;
    display: none;
}

.no-open-sales{
    color: var(--dashboard-subtitle-color);
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20pt;
}

.no-open-sales p{
    text-align: center;
}

.no-open-sales i{
    font-size: 56pt;
}

.sales .most-salled-item {
    position: relative;
    width: 33.333%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 15px;
}

.sales .most-selled-items-footer {
    position: absolute;
    bottom: 5px;
    right: 10px;
    color: var(--dashboard-subtitle-color);
    width: 100%;
    text-align: end;
    transition: 0.3s ease;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.sales .pie-chart-legends{
    margin-top: 20px;
    position: relative;
}

.sales #pie-chart-legend {
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    min-height: fit-content;
    padding: 1px 0;
}

.sales #pie-chart-legend *:not(span){
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.sales #pie-chart-legend>span {
    width: 12px !important;
    height: 10px !important;
}

abbr{
    text-decoration: none;
} 

.no-most-salled-item{
    color: var(--primary-text-color);
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 16pt;
}

.no-most-salled-item p{
    text-align: center;
}

.no-most-salled-item i{
    font-size: 60pt;
}

/* ====> hidden dashboard info <==== */
.primary-sales-data.hidden-info>div::after,
.sales.hidden-info .most-salled-item::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* From https://css.glass */
    border-radius: 7px;
    background: #f2f2f201;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.6px);
    -webkit-backdrop-filter: blur(13.6px);
}


.info.hidden-info::after{
    content: "";
    position: absolute;
    top: 0;
    left: -15%;
    width: 120%;
    height: 100%;
    /* From https://css.glass */
    background: var(--dashboard-blur-color);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
}

@media (min-width: 1399px) {

    .sales,
    .primary-sales-data {
        padding: 1% 5%;
    }
 
    .sales {
        height: 550px;
    }

    .section-title,
    .section-sub-title {
        padding: 0 5.5%;
    }

    .divContainer.side-bar .primary-sales-data>div i {
        margin: 80px 25px;
    }

    .divContainer.side-bar .primary-sales-data .primary-data-info.small-font-size {
        gap: 15px;
    }

    .divContainer.side-bar .primary-sales-data .primary-data-info.small-font-size h1 {
        font-size: 26pt;
    }
}