section{
    position: relative;
    z-index: 999;
    overflow: visible;
}

#itemListInput{
    border: 1px solid var(--input-border-color);
    color: var(--primary-text-color);
    background-color: var(--div-color) !important;
}

#itemListInput::placeholder{
    color: var(--outline-color);
}

#itemList{
    width: 100%;
    background-color: var(--div-color) !important;
    border: none;
    overflow: hidden;
    height: 0;
    border-radius: 5px;
    transition: .3s ease;
    display: flex;
    flex-direction: column;
    position: absolute;
}

#itemList button{
    margin-bottom: 5px;
    padding: 0 5px;
    border-radius: 3px;
    text-align: start;
    outline: none;
    border: none;
    background-color: var(--div-color);
    font-family: inherit;
    font-size: 14pt;
    font-weight: 500;
    width: auto;
    height: auto;
    transition: 0.3s ease;
}

#itemList.active{
    border: 1px solid var(--input-border-color);
    padding: 10px;
    overflow-y: scroll;
    transition: .3s ease;
    margin-bottom: 15px;
}

#itemList.active .item-btn:hover,
#itemList.active .item-btn:focus{
    background-color: #3e8ed0;
    color: #FFF !important;
    cursor: pointer;
}

@keyframes positionAlternate {
    from{
        position: relative;
    }
    to{
        position: absolute;
    }
}