.div{
    margin-top: 7vh;
    width:80%;
    height: auto;
    overflow-y: visible;
}

.div > *{
    opacity: inherit;
}

#outlined-basic{
    text-align: end !important;
}

.saleInfo{
    white-space: pre-line;
}

.btn-limpar-centered{
    width: 100%;
    display: flex;
    justify-content: center; 
    gap: 15px;
}