.div{
    margin-top: 7vh;
    width:80%;
    height: auto;
    overflow-y: hidden;
    animation: growin-up .1s ease-in-out;
}

.div > *{
    opacity: inherit;
}

#outlined-basic{
    text-align: end !important;
}

.saleInfo{
    white-space: pre-line;
}

.btn-limpar-centered{
    width: 100%;
    display: flex;
    justify-content: center;
}

.fading-out{
    animation: fading-out 5.2s ease;
}

@keyframes fading-out {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

@keyframes growin-up {
    from{
        height: 0;
    }
    to{
        height: auto;
    }
}