.div{
    margin-top: 7vh;
    width:80%;
    height: auto;
    overflow-y: hidden;
    animation: growin-up .1s ease-in-out;
}

.div > *{
    opacity: inherit;
}

#visualizacao{
    white-space: pre-line;
}

.btn-limpar-centered{
    width: 100%;
    display: flex;
    justify-content: center;
}

.confirmation-text{
    display: flex;
    justify-content: end;
}

@keyframes growin-up {
    from{
        height: 0;
    }
    to{
        height: auto;
    }
}